@page
@model PersonalDataModel

@using Microsoft.AspNetCore.Identity
@using Library.Areas.Identity.Data
@using Library.Data
@using Library.Controllers

@inject SignInManager<LibraryUser> SignInManager
@inject UserManager<LibraryUser> UserManager
@inject LibraryContext _context

@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        @if (UserManager.GetUserName(User) != "librarian")
        {
           <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
           </p>     
        }        
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            @if (UserManager.GetUserName(User) != "librarian")
            {
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
            }
            
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
